.asideRacesContainer{
    padding: 10px;
    background-image: linear-gradient(to right, rgb(158, 202, 212),rgb(155, 235, 139));
}
.asideRacesNav{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.asideRacesContainer ul{
    list-style: none;
}
.asideRacesContainer ul li{
    margin: 5px;
}
.asideRacesContainer ul li :hover {
    color: rgb(145, 24, 24);
    background-color: bisque;
}