.asideRacesContainer{
    padding: 10px;
    background-image: linear-gradient(to right, rgb(158, 202, 212),rgb(155, 235, 139));
    margin-right: 4px;
}
/*changed*/
.asideRacesMainBlock{
    display: flex;
    flex-wrap: wrap;
}
.mainRacesWithPic{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
    /* height: 160px; */
}
.mainRacesWithPic:hover{
    color: blue;
}
.asideImgAll{
    width: 100%;
}
.asideRacesMainBlockIn{
    width: 155px;
    margin: 5px;
}
.personName{
    margin-bottom: 4px;
}
