.lotr2MoviePage{
    border: 1px solid black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-image: linear-gradient(to top,rgb(168, 213, 243),rgb(181, 247, 243));
}
.lotr2MoviePage img{
    margin: 3px;
    width: 50%;
}
.lotr2MoviePage ul{
    margin: 2px 15px;
    list-style:none;
}
.lotr2MoviePage ul li{
    margin: 2px;
    display: inline-block;
    padding: 3px;
}
.lotr2Nav{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.lotr2MoviePage ul li :hover {
    color: rgb(145, 24, 24);
    background-color: bisque;
}
p{
    padding: 2px;
    text-indent: 20px;
}