.oneHeader{
    display: flex;
    padding: 5px;
}
.oneHeader img{
    width: 70px;
}
.oneHeader h1{
    display: inline;
    margin: 5px;
    font-weight: 800;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium';
    color: black;
}
.navLink1{   
    text-decoration: none;
}

.Header{
    display: flex;
    background-image: linear-gradient(to top,rgb(216, 214, 210), rgb(88, 112, 141));
    margin: 4px;
    grid-column: span 2;
}


.btRegistration{
    display: block;
    padding: 2px;
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    box-shadow: 2px 4px 2px;
    background-image: linear-gradient(to right, rgb(238, 161, 161), rgb(115, 85, 175));
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.btLogIn{
    display: block;
    padding: 2px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    box-shadow: 2px 4px 2px;
    background-image: linear-gradient(to right, rgb(238, 161, 161), rgb(115, 85, 175));
    text-decoration: none;
    color: black;
    border-radius: 5px;
}
.btLogIn:hover{
    background-image: linear-gradient(to right, rgb(233, 221, 221), rgb(115, 85, 175));
}
.btRegistration:hover{
    background-image: linear-gradient(to right, rgb(218, 199, 199), rgb(115, 85, 175));
}
.registration{
    flex: 1;
    text-align: center;   
}
hr{
    margin: 5px;
}
.containerRegistration{
    padding: 6px;
    width: 70px;
    height: 40px;
    margin: 15px 10px auto auto;
    /* border: 1px solid black; */
    position: relative;  
}
.registrationMenu{
    position: absolute;
    /* border: 1px solid black;  */
    padding: 10px;
    padding-bottom: 15px;
    width: 0px;
    height: 0px;
    top: 5px;
    right: 12px;
    overflow: hidden;
    opacity: 0; 
}
.containerRegistration:hover > .registrationMenu{
    transition: all ease 1000ms;
    width: 150px;
    height: fit-content;
    opacity: 1;
    background-image: linear-gradient(to top,rgb(247, 242, 242),rgb(187, 244, 248));
    border-radius: 5px;
}