.containerIn{
    display: flex;
    width: 100%;
}

.twoHeader{
    min-width: 200px;
}

.slider{
    margin: 5px;
    flex: 1;
    max-width: 802px;   
    overflow: hidden;
}
.images{
    display: flex;
    position: relative;
    transition: all ease 1000ms;
}
img{
    width: 100%;
}
.bt{
    width: 5%;
}
.bt1{
    background-image: linear-gradient(to left, rgb(186, 199, 206), rgb(38, 71, 114));
    border-radius: 5%;
}
.bt2{
    background-image: linear-gradient(to right, rgb(186, 199, 206), rgb(44, 81, 129));
    border-radius: 5%;
}
.bt1:hover{
    background-image: linear-gradient(to right, rgb(186, 199, 206), rgb(34, 72, 121));
}
.bt2:hover{
    background-image: linear-gradient(to left, rgb(186, 199, 206), rgb(37, 73, 121));
}