.hobbit2MoviePage{
    margin-right: 4px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-image: linear-gradient(to top,rgb(168, 213, 243),rgb(181, 247, 243));
}
.hobbit2MoviePage .hobbit2pic{
    margin: 3px;
    width: 70%;
}

.hobbit2Nav{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.hobbit2Nav:hover{
    color: rgb(2, 17, 100);
}
p{
    padding: 2px;
    text-indent: 20px;
}
.imgMovie{
    width: 100%;
    height: 100px;
}
.liImgMovie{
    width: 100px;
}
/*change*/
.hobbit2MoviePage div{
    margin: 2px 15px;
    display: flex;
    flex-wrap: wrap;
}
.imgMovieDiv{
    width: 100px;
}