.hobbit3MoviePage{
    border: 1px solid black;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-image: linear-gradient(to top,rgb(208, 214, 243),rgb(233, 227, 220));
}
.hobbit3MoviePage img{
    margin: 3px;
    width: 50%;
}
.hobbit3MoviePage ul{
    margin: 2px 15px;
    list-style:none;
}
.hobbit3MoviePage ul li{
    margin: 2px;
    display: inline-block;
    padding: 3px;
}
.hobbit3Nav{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 600;
}
.hobbit3MoviePage ul li :hover {
    color: rgb(145, 24, 24);
    background-color: bisque;
}
p{
    padding: 2px;
    text-indent: 20px;
}
